@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-light: #fcfcfc;
  --text-dark: #1b1b1b;
  --h1-size: 56px;
  --h2-size: 40px;
  --h3-size: 32px;
  --h4-size: 24px;
  --font-weight: 300;
  --button-weight: 500;
  --text-size: 20px;
  --text-height: 1.6;
  --link-size: 22px;
  --primary-button-size: 22px;
  --secondary-button-size: 20px;
  --navbar-size: 24px;
  /* SPACING */
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  /* SHADOWS & HOVER */
  --shadow: 0 1px 1px hsla(0, 0%, 11%, 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  --underline-shadow: 0 0px 6px hsl(0, 0%, 99%);
  --primary-cta-hover-shadow: drop-shadow(0px 0px 6px #ffffff)
    drop-shadow(0px 0px 3px #ffffff);
  --secondary-cta-hover-shadow: drop-shadow(0px 0px 1.5px #ffffff)
    drop-shadow(0px 0px 1px #ffffff);
  --links-hover-shadow: drop-shadow(0px 0px 6px #ffffff);

  --border-radius: 8px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-light);
}
img {
  display: block;
  max-width: 100%;
  border-radius: var(--border-radius);
  /* box-shadow: var(--shadow); */
}
body {
  background-color: black;
  margin: 0 auto;
  overflow-x: hidden;
  background-image: url(./obrazky/background.png);
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  max-width: 100%;
  box-sizing: border-box;
  color: var(--text-light);
}

main {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 1fr;
  grid-template-areas: "aside content";
  width: 100%;
  /* overflow: hidden; */
}

.aside .aside-scroller {
  grid-area: aside;
  position: sticky;
  top: 0;
  left: 0;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 54px;
}

.content {
  grid-area: content;
  height: auto;
  margin: 0 auto;
  max-width: 95%;
}
section {
  width: 100%;
  margin: 0 0 4rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#home {
  height: 90vh;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  backdrop-filter: none;
  /* justify-content: center; */
}

.glass-card {
  padding: var(--spacing-xl);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.header-wrapper {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.2) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  width: 100%;
  height: 90%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.header-small {
  display: none;
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--font-weight);
  line-height: var(--text-height);
  margin-bottom: var(--spacing-l);
}

h3 {
  font-size: var(--h3-size);
  font-weight: var(--font-weight);
  line-height: var(--text-height);
  margin-bottom: var(--spacing-l);
}
h4 {
  font-weight: 550;
}
strong {
  font-weight: 550;
}

.section-title:after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  bottom: -3px;
  background-color: hsl(0, 0%, 89%);
  box-shadow: var(--underline-shadow);
  opacity: 0.8;
}

.section-title.offset-right {
  margin-right: -2rem;
}

.offset-top {
  transform: translateY(-4rem);
}
.offset-left {
  transform: translate(-4rem, 3rem);
}

svg {
  max-width: 100%;
  transform: translate(3.5rem, 5rem);
}

/* NAVBAR */
.nav-bar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  position: relative;
  z-index: 3000;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: var(--spacing-xl);
  font-size: var(--link-size);
  margin: 0;
}

/* NAVBAR-HAMBURGER */
.bar1,
.bar2,
.bar3 {
  background-color: #fcfcfc;
  height: 1.5px;
  width: 34px;
  margin: 5px;
  border-radius: 10px;
}

.hamburger {
  display: none;
  transition: 0.3s ease;
  transition-property: filter;
}

.hamburger:hover {
  cursor: pointer;
  transition: 0.3s ease;
  filter: var(--secondary-cta-hover-shadow);
}

.mobile-nav {
  display: none;
}

.primary-cta,
.secondary-cta {
  font-family: Montserrat;
  font-size: var(--primary-button-size);
  font-weight: var(--button-weight);
  padding: var(--spacing-s) var(--spacing-l);
  color: var(--text-dark);
  background-color: var(--text-light);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  transition: 0.3s ease;
  transition-property: filter;
}
.primary-cta:hover,
.secondary-cta:hover {
  transition: 0.3s ease;
  filter: var(--primary-cta-hover-shadow);
}

/* .secondary-cta {
  border: 1px solid #fcfcfc;
  color: var(--text-light);
  background-color: transparent;
} */

.scroll-icon,
.home-icon {
  transition: 0.3s ease;
  transition-property: filter;
}

.scroll-icon:hover,
.home-icon:hover {
  transition: 0.3s ease;
  filter: var(--links-hover-shadow);
}

/* LAYOUT */
.two-column {
  width: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
  box-sizing: border-box;
}

/* ABOUT ME SECTION */
.col-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.col-top p {
  width: 70%;
  font-size: var(--text-size);
  font-weight: var(--font-weight);
  line-height: var(--text-height);
}
.col-top img {
  width: 100%;
  max-width: 250px;
}
.col-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.about-me-columns .list li {
  list-style: none;
  border: 1px solid hsl(0, 0%, 34%);
  border-radius: var(--border-radius);
  padding: var(--spacing-s) var(--spacing-l);
  width: fit-content;
  font-weight: 300;
  font-size: var(--text-size);
  color: var(--text-light);
  margin: var(--spacing-s) 0;
}

#about-me .education li {
  border: none;
  padding-left: 0;
}
.cv-cta {
  font-size: var(--text-size);
}

/* CONTACT SECTION */
#contact {
  height: 90svh;
}
#contact > .glass-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--spacing-m);
}

/* END CONTACT SECTION */

/* ANIMACE */
/* HAMBURGER MENU */

.hamburger .animatebar1 {
  animation: flipbar1 0.5s;
  animation-fill-mode: forwards;
}
.hamburger .animatebar2 {
  animation: fadebar2 0.5s;
  animation-fill-mode: forwards;
}
.hamburger .animatebar3 {
  animation: flipbar3 0.5s;
  animation-fill-mode: forwards;
}

@keyframes flipbar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(3px, 6px);
  }
}

@keyframes fadebar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes flipbar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(3px, -6px);
  }
}
/* END HAMBURGER MENU */

img {
  scale: 0.6;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 100%;
  }
}

.side-menu-line {
  scale: 0.7;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 80vh 750vh;
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 100%;
  }
}

/* .home-icon:hover { */

.animation {
  animation: pohyb 3s infinite;
}
@keyframes pohyb {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* animace úvodu */

.logo {
  --showup-delay: 10s;

  animation: logo-intro 1s ease-in,
    logo-showup 22s infinite var(--showup-delay) alternate;
}

@keyframes logo-showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.logo-first path,
.logo-second path {
  stroke-dasharray: 10000;
  stroke-dashoffset: 9999;
  animation: dash 4s linear forwards;
}

.logo-second path {
  opacity: 0;
  animation-delay: 0.5s;
}

@keyframes dash {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    stroke-dashoffset: 1000;
  }
}

.header-small {
  animation: showup 22s infinite;
}
@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nav-bar,
.aside {
  opacity: 0;
  animation: intro-home 1s ease-in 1s forwards;
}

@keyframes intro-home {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#home .header.glass-card {
  box-shadow: none;
  backdrop-filter: none;
  animation: intro-card 1s ease-in 0s forwards;
}

@keyframes intro-card {
  from {
    box-shadow: none;
    backdrop-filter: none;
  }
  to {
    box-shadow: var(--shadow);
    backdrop-filter: blur(10px);
  }
}

/* animace navbaru po najetí myší */
.nav-list li a,
.mobile-nav li a {
  position: relative;
  transition: all 0.3s ease;
}

.nav-list li a:hover,
.mobile-nav li a:hover {
  filter: var(--links-hover-shadow);
}

.nav-list li a:hover:before,
.mobile-nav li a:hover:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  border-bottom: 2px solid #fcfcfc;
  animation: navbar-border 0.225s linear forwards;
}

@keyframes navbar-border {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* RESPONZIVITA */
@media only screen and (max-width: 1400px) {
  .aside {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  :root {
    --h2-size: 28px;
    --h3-size: 24px;
    --h4-size: 28px;
    --text-size: 16px;
    --text-height: 1.6;
    --link-size: 20px;
    --primary-button-size: 20px;
    --secondary-button-size: 16px;
    --navbar-size: 20px;
    --font-weight: 400;
    /* SPACING */
    --spacing-s: 6px;
    --spacing-m: 14px;
    --spacing-l: 18px;
    --spacing-xl: 30px;
    --spacing-xxl: 46px;
  }

  main {
    grid-template-columns: 5% 90% 5%;
  }

  .aside .aside-scroller {
    align-items: end;
  }
}

@media only screen and (max-width: 941px) {
  main {
    grid-template-columns: 1% 98% 1%;
  }

  #home {
    height: 90svh;
    margin-top: 10vh;
  }
  .nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    padding-right: var(--spacing-xl);
    padding-left: var(--spacing-xl);

    box-shadow: var(--shadow);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    align-items: center;
  }

  .nav-bar .nav-list {
    display: none;
  }
  .aside .aside-scroller {
    display: none;
  }

  .nav-bar .hamburger {
    display: block;
  }
  /* NAVBAR MOBILE VERSION */
  .mobile-nav {
    width: 150px;
    display: flex;
    justify-content: center;
    z-index: 20;
    position: fixed;
    left: -160px;
    box-shadow: var(--shadow);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    backdrop-filter: blur(10px) !important;
    transition: transform 0.5s;
  }

  .mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    gap: var(--spacing-xl);
    font-size: var(--link-size);
    margin: 0;
    width: 100%;
    height: 100vh;
    align-items: start;
    padding-left: var(--spacing-xl);
  }
  .open-mobile-nav {
    transform: translateX(160px);
    transition: all 1s;
  }
  /* END NAVBAR MOBILE VERSION */

  .col-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .col-top {
    grid-template-columns: 1fr 1fr;
  }
  about-me,
  #my-work,
  #contact {
    padding-top: 1rem;
  }
  .offset-left {
    transform: translate(-3rem, 1rem);
  }
  section {
    margin: 0 0 2rem 0;
  }

  .col-top p {
    width: 80%;
  }
}

@media only screen and (max-width: 651px) {
  :root {
    --font-wight: 400;
  }

  .nav-bar {
    height: 60px;
  }
  svg {
    display: none;
  }

  .header-small {
    display: block;
  }
  h1 {
    color: #fcfcfc;
    font-size: 32px;
    font-weight: 200;
    line-height: 1.7;
    margin: 0;
  }
  .section-title.offset-right {
    margin-right: 0;
  }
}

@media only screen and (max-width: 550px) {
  :root {
    --h2-size: 26px;
    --h3-size: 22px;
    --text-size: 16px;
    --text-height: 1.4;
    --font-weight: 300;
    --button-weight: 500;
    --link-size: 18px;
    --primary-button-size: 20px;
    --navbar-size: 20px;
    --primary-button-size: 18px;
  }

  body {
    background-image: url(./obrazky/background\ mobile.png);
  }
  .col-bottom {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .col-top {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .offset-top {
    transform: none;
    margin: 1rem 0 1rem 0;
  }
  .col-top p {
    width: 100%;
  }
  .two-column {
    grid-template-columns: 1fr;
  }
  .offset-left {
    transform: none;
  }
  #about-me,
  #my-work,
  #contact {
    padding-top: 0;
  }
}
/* KONEC RESPONZIVITA */
