@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: #a3a3a3;
}

body {
  background-color: black;
  min-height: 100vh;
  width: 100%;
}

.wrap {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  /* position: relative*/
  background-image: url(./obrazky/hero-pozadi.png);
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
}

.wrap-inner {
  max-width: 1440px;
  margin: 0 auto;
}

section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 215px 1fr;
}

h1,
h2 {
  font-size: 40px;
  font-weight: 400;
  padding-top: 2rem;
  color: #fcfcfc;
}
/* home section */

#home {
  min-height: 100vh;
  width: 100%;
  margin-left: 2rem;
}
.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 117px;
  position: relative;
  width: 53px;
  height: 1024px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.nav-list ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 19px;
  padding-top: 5rem;
}
.cta {
  padding: 8px 16px;
  color: #1b1b1b;
  margin-right: 110px;
  font-size: 24px;
  background-color: #fcfcfc;
  border-radius: 8px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  margin: 0;
}
